# Build files
build/
out/
bin/
Debug/
Release/

# Visual Studio
.vs/
*.suo
*.user
*.vcxproj.user

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/

# Compiled files
*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib
*.dll

# OS files
.DS_Store
Thumbs.db